* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  max-height: 100vh;
  background-color: #e3e3e3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 85vh 15vh;
}

#message-popup-btn-container {
  /* border: 2px solid green; */
  width: 100%;
  height: 100%;
  grid-row: 2 / 3;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#messagePopUpBtn {
  margin: 12px;
  width: 100%;
  height: 60%;
  border-radius: 8px;
  background-color: #eff3f6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8f8f8f;
}

#messagePopUpBtn h4 {
  margin-left: 12px;
}

#post-container {
  /* border: 1px solid green; */
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messagePostContainer {
  /* border: 1px solid purple; */
  display: none;
  width: 90%;
  height: 100%;
  margin: 12px;
  padding-bottom: 4%;
  border-radius: 8px;
  background-color: #d3d3d3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.indexForm {
  /* border: 1px solid red; */
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.messagePostContainer form label {
  color: rgb(129, 129, 129);
}

.messagePostContainer form #name-input {
  font-size: 24px;
  width: 60%;
  height: 10%;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.messagePostContainer form #message-input {
  font-size: 20px;
  width: 60%;
  height: 30%;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.messagePostContainer form #send {
  width: 60%;
  height: 15%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: #46ff7e;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.messagePostContainer form #send h4 {
  margin-left: 12px;
}

.messagePostContainer #back {
  background-color: rgb(129, 129, 129);

  border-bottom-right-radius: 8px;
  padding: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background: #33cccc;
  animation: color 9s infinite linear;
}

/* Hide-Show messagePostContainer */

.active {
  display: block;
}

.inactive {
  display: none;
}

#garf {
  display: none;
  height: 150px;
  position: absolute;
  top: 40px;
  left: 40px;
}

/* Message Container */

.messageContainer {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 8px;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.newMessageContainer {
  /* border: 2px solid green; */
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.messageItem {
  width: 90%;
  height: fit-content;
  /* border: 1px solid green; */
  /* margin-top: 8px; */
  background-color: #eff3f6;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-wrap: break-word;
  padding: 8px;
}

.messageIconStyle {
  /* border: 1px solid red; */
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.likeBtn {
  /* border: 1px solid red; */
  width: 16px;
  aspect-ratio: 1 / 1;
  background-color: transparent;
}

.commentBtn {
  /* border: 1px solid red; */
  width: 16px;
  aspect-ratio: 1 / 1;
  background-color: transparent;
}

.messageIconStyle p {
  font-size: 8px;
}

@keyframes color {
  0% {
    background: #33cccc;
  }
  20% {
    background: #33cc36;
  }
  40% {
    background: #b8cc33;
  }
  60% {
    background: #fcca00;
  }
  80% {
    background: #33cc36;
  }
  100% {
    background: #33cccc;
  }
}

/* Media Queries */

@media screen and (min-width: 650px) {
  #post-container {
    height: 80%;
  }
}

@media screen and (min-width: 800px) {
  #post-container {
    height: 60%;
  }
}

@media screen and (min-width: 1080px) {
  body {
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 85vh 15vh;
  }

  .messageContainer {
    grid-column: 2 / 3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  #message-popup-btn-container {
    grid-column: 2 / 3;
  }

  #post-container {
    grid-column: 2 / 3;
  }

  .messagePostContainer {
    width: 50%;
  }

  .messagePostContainer form #message-input {
    font-size: 24px;
  }

  .search-box {
    grid-column: 3 / 4;
    place-self: start center;
    margin-top: 5%;
  }

  .messageItem {
    width: 60%;
  }
}
