* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  min-height: 100vh;
  background-color: #e3e3e3;
}

#messagePopUpBtn {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 12px;
  width: 350px;
  height: 64px;
  border-radius: 8px;
  background-color: #eff3f6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8f8f8f;
}

#messagePopUpBtn h4 {
  margin-left: 12px;
}

.messagePostContainer {
  display: none;
  position: absolute;
  bottom: 12%;
  width: 350px;
  height: 400px;
  margin: 12px;
  border-radius: 8px;
  background-color: #d3d3d3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.messagePostContainer form label {
  color: rgb(129, 129, 129);
}

.messagePostContainer form #name-input {
  width: 60%;
  height: 10%;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.messagePostContainer form #message-input {
  width: 60%;
  height: 30%;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.messagePostContainer form #send {
  width: 60%;
  height: 15%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: #46ff7e;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.messagePostContainer form #send h4 {
  margin-left: 12px;
}

.messagePostContainer #back {
  background-color: rgb(129, 129, 129);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-bottom-right-radius: 8px;
  padding: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* Hide-Show messagePostContainer */

.active {
  display: block;
}

.inactive {
  display: none;
}
