@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F5F6FA;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* HEADER NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background: transparent;
    margin-bottom: 1rem;
}

.navbar .link-list {
    display: flex;
    gap: 3rem;
    text-transform: uppercase;
    margin: auto !important;
}

.link-list .link-item.active a {
    color: #007AFF;
}

.link-list .link-item a:hover {
    color: #007AFF;
}

.link-list .link-item a {
    transition: .3s all;
    font-weight: 450;
    font-size: 1.2rem;
    font-family: poppins;
    color: #3E3E81;
}

.contact-us {
    background-color: #007AFF;
    border-radius: 12px;
    padding: .5rem 1.7rem;
    cursor: pointer;
    transition: .3s all;
    border: 1px solid #007AFF;
    margin-right: 2rem;
}

.contact-us a {
    color: black;
    font-weight: 400;
    font-size: 1.2rem;
}

.contact-us:hover {
    background: none;
    border: 1px solid #007AFF;
}

.contact-us:hover a {
    color: #007AFF !important;
}

.profilbild {
    border-radius: 5rem;
    width: 40px;
    margin-top: 8px;
    cursor: pointer;
}

.wrapper {
    height: 45vh;
    width: 100%;
    background-image: url(../../images/backgrounds/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #3E3E81;
    font-size: 1.8rem;
    padding-right: 2rem;
    margin-top: 4rem;
}

.message {
    display: flex;
    font-size: 1rem;
    gap: 1rem;

}

.input-item {
    width: 100%;
}

.contact-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 11rem;

}

.contact_list {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem !important;
    margin-bottom: 3rem;
    row-gap: 0.8rem;

}

.contact {
    padding-left: 1rem;
    width: 100%;
    padding: .8rem 1rem;
    border: 0.15rem solid rgb(191, 187, 187);
    border-radius: 10px;
    background-color: rgb(234, 231, 231);
    border: none;
    outline: none;
}

.message-input {
    height: 5rem;
    padding-top: 1rem;
}

.btn {
    width: 8rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s all;
    background-color: #007AFF;
    align-self: flex-start;
    padding: 0.8rem 0.3rem;
    font-size: .8rem;
    text-align: center;
    color: #fff;
}

.btn:hover {
    background: none;
    border: 1px solid #007AFF;
}

.btn:hover a {
    color: #0c0c0c !important;
}


footer {
    width: 100%;
    background: linear-gradient(blue, skyblue);
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 5rem;
}

footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icon li {
    list-style: none;
}

footer .social-icon li a {
    font-size: 2rem;
    color: #f6f6f6;
    margin: 0 0.625rem;
    display: inline-block;
    transition: 0, 5s;
}

footer .social-icon li a:hover {
    transform: translateY(-0.625);
    color: rgb(192, 12, 12);
}

.copyright {
    display: flex;
    text-align: center;
    align-items: center;
}

footer p {
    font-size: .7rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: auto;
}




